In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
path=r"C:\Users\Mini\Downloads\chromedriver_win32\chromedriver.exe"

In [3]:
driver=webdriver.Chrome(path)

In [4]:
driver.get('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X5uwmIgzY2w')

In [5]:
content=driver.page_source
soup=BeautifulSoup(content)
period=soup.findAll('p',attrs={'class':'period-name'})
print(len(period))
short_desc=soup.findAll('p',attrs={'class':'short-desc'})
print(len(short_desc))
temp=soup.findAll('p',attrs={'class':'temp temp-low'})
print(len(temp))
temp1=soup.findAll('p',attrs={'class':'temp temp-high'})
print(len(temp1))
desc=soup.findAll('div',attrs={'class':'col-sm-10 forecast-text'})
print(len(desc))

9
9
4
5
13

In [6]:
period

[<p class="period-name">Today<br/><br/></p>,
 <p class="period-name">Tonight<br/><br/></p>,
 <p class="period-name">Sunday<br/><br/></p>,
 <p class="period-name">Sunday<br/>Night</p>,
 <p class="period-name">Monday<br/><br/></p>,
 <p class="period-name">Monday<br/>Night</p>,
 <p class="period-name">Tuesday<br/><br/></p>,
 <p class="period-name">Tuesday<br/>Night</p>,
 <p class="period-name">Wednesday<br/><br/></p>]

In [7]:
short_desc

[<p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Clear</p>,
 <p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Clear</p>,
 <p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Clear</p>,
 <p class="short-desc" style="height: 54px;">Sunny</p>,
 <p class="short-desc" style="height: 54px;">Mostly Clear</p>,
 <p class="short-desc" style="height: 54px;">Sunny</p>]

In [8]:
temp

[<p class="temp temp-low">Low: 53 °F</p>,
 <p class="temp temp-low">Low: 53 °F</p>,
 <p class="temp temp-low">Low: 52 °F</p>,
 <p class="temp temp-low">Low: 51 °F</p>]

In [9]:
temp1

[<p class="temp temp-high">High: 77 °F</p>,
 <p class="temp temp-high">High: 71 °F</p>,
 <p class="temp temp-high">High: 73 °F</p>,
 <p class="temp temp-high">High: 72 °F</p>,
 <p class="temp temp-high">High: 70 °F</p>]

In [10]:
desc

[<div class="col-sm-10 forecast-text">Sunny, with a high near 77. Northwest wind 11 to 15 mph, with gusts as high as 29 mph. </div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 53. West wind 6 to 14 mph, with gusts as high as 18 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 71. West wind 7 to 15 mph, with gusts as high as 20 mph. </div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 53. West northwest wind 7 to 17 mph, with gusts as high as 22 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 73. Light west northwest wind increasing to 10 to 15 mph in the morning. Winds could gust as high as 20 mph. </div>,
 <div class="col-sm-10 forecast-text">Clear, with a low around 52.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 72.</div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 51.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 70.</div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 51.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 66.</div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 51.</div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 65.</div>]

In [11]:
Period=[]
Short_desc=[]
Temp=[]
Temp1=[]
Desc=[]

In [12]:
for i in period:
    Period.append(i.text)
Period

['Today',
 'Tonight',
 'Sunday',
 'SundayNight',
 'Monday',
 'MondayNight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday']

In [13]:
df=pd.DataFrame(Period)
df=df.rename({0:'Period'},axis=1)
df

         Period
0         Today
1       Tonight
2        Sunday
3   SundayNight
4        Monday
5   MondayNight
6       Tuesday
7  TuesdayNight
8     Wednesday

In [15]:
for i in short_desc:
    Short_desc.append(i.text)
Short_desc

['Sunny',
 'Clear',
 'Sunny',
 'Clear',
 'Sunny',
 'Clear',
 'Sunny',
 'Mostly Clear',
 'Sunny']

In [16]:
df1=pd.DataFrame(Short_desc)
df1=df1.rename({0:'Short_desc'},axis=1)
df1

     Short_desc
0         Sunny
1         Clear
2         Sunny
3         Clear
4         Sunny
5         Clear
6         Sunny
7  Mostly Clear
8         Sunny

In [17]:
for i in temp:
    Temp.append(i.text)
Temp

['Low: 53 °F', 'Low: 53 °F', 'Low: 52 °F', 'Low: 51 °F']

In [18]:
df2=pd.DataFrame(Temp)
df2

            0
0  Low: 53 °F
1  Low: 53 °F
2  Low: 52 °F
3  Low: 51 °F

In [19]:
for i in temp1:
    Temp1.append(i.text)
Temp1

['High: 77 °F', 'High: 71 °F', 'High: 73 °F', 'High: 72 °F', 'High: 70 °F']

In [20]:
df3=pd.DataFrame(Temp1)
df3

             0
0  High: 77 °F
1  High: 71 °F
2  High: 73 °F
3  High: 72 °F
4  High: 70 °F

In [21]:
df4=pd.concat([df2,df3]).sort_index(kind='merge')
df4=df4.reset_index(drop=True)
df4=df4.rename({0:'Temperature'},axis=1)
df4

   Temperature
0   Low: 53 °F
1  High: 77 °F
2   Low: 53 °F
3  High: 71 °F
4   Low: 52 °F
5  High: 73 °F
6   Low: 51 °F
7  High: 72 °F
8  High: 70 °F

In [22]:
for i in desc:
    Desc.append(i.text)
Desc

['Sunny, with a high near 77. Northwest wind 11 to 15 mph, with gusts as high as 29 mph. ',
 'Clear, with a low around 53. West wind 6 to 14 mph, with gusts as high as 18 mph. ',
 'Sunny, with a high near 71. West wind 7 to 15 mph, with gusts as high as 20 mph. ',
 'Clear, with a low around 53. West northwest wind 7 to 17 mph, with gusts as high as 22 mph. ',
 'Sunny, with a high near 73. Light west northwest wind increasing to 10 to 15 mph in the morning. Winds could gust as high as 20 mph. ',
 'Clear, with a low around 52.',
 'Sunny, with a high near 72.',
 'Mostly clear, with a low around 51.',
 'Sunny, with a high near 70.',
 'Mostly clear, with a low around 51.',
 'Mostly sunny, with a high near 66.',
 'Mostly clear, with a low around 51.',
 'Sunny, with a high near 65.']

In [23]:
df5=pd.DataFrame(Desc)
df5=df5.rename({0:'Description'},axis=1)
df5=df5.iloc[0:9]
df5

                                         Description
0  Sunny, with a high near 77. Northwest wind 11 ...
1  Clear, with a low around 53. West wind 6 to 14...
2  Sunny, with a high near 71. West wind 7 to 15 ...
3  Clear, with a low around 53. West northwest wi...
4  Sunny, with a high near 73. Light west northwe...
5                       Clear, with a low around 52.
6                        Sunny, with a high near 72.
7                Mostly clear, with a low around 51.
8                        Sunny, with a high near 70.

In [24]:
Weather_info=pd.concat([df,df1,df4,df5],axis=1)
Weather_info

,Period,Short_desc,Temperature,Description
0,Today,Sunny,Low: 53 °F,"Sunny, with a high near 77. Northwest wind 11 ..."
1,Tonight,Clear,High: 77 °F,"Clear, with a low around 53. West wind 6 to 14..."
2,Sunday,Sunny,Low: 53 °F,"Sunny, with a high near 71. West wind 7 to 15 ..."
3,SundayNight,Clear,High: 71 °F,"Clear, with a low around 53. West northwest wi..."
4,Monday,Sunny,Low: 52 °F,"Sunny, with a high near 73. Light west northwe..."
5,MondayNight,Clear,High: 73 °F,"Clear, with a low around 52."
6,Tuesday,Sunny,Low: 51 °F,"Sunny, with a high near 72."
7,TuesdayNight,Mostly Clear,High: 72 °F,"Mostly clear, with a low around 51."
8,Wednesday,Sunny,High: 70 °F,"Sunny, with a high near 70."

In [25]:
Weather_info.to_csv('Weather_information.csv')